<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Ranking Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">

		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-warning btn-block" name="registration" type="Submit">Logout</button>
		</form>
			<a th:href="@{/admin/home} ">
				<button class="btn btn-md btn-success btn-block ">Home Page
				</button>
			</a>
				<a th:href="@{/admin/matchResult} ">
					<button class="btn btn-md btn-success btn-block ">Record battle
					</button>
				</a>
		<div class="panel-group" style="margin-top: 40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span <b>
						<h2>All tournaments</h2>
						</b>
					</span>
				</div>
				<div class="panel-body">
					<div>

						<table class="table" class="table table-striped">
							<thead class="thead-dark">
								<tr>
									<th scope = "col">Name</th>
									<th scope = "col">Tournament Date</th>
									<th scope = "col">Tournament Place(venue)</th>
									<th scope = "col">Tournament City</th>
                                    <th scope = "col">Tournament Country</th>
                                    <th scope = "col">Tournament Details</th>
								</tr>
								<tr th:each="tournament: ${allTournament}">
									<td th:text="${tournament.name}"></td>
									<td th:text="${tournament.tournamentDate}"></td>
									<td th:text="${tournament.tournamentPlace}"></td>
                                    <td th:text="${tournament.tournamentCity}"></td>
                                    <td th:text="${tournament.tournamentCountry}"></td>
									<td>
										<a th:href="'/admin/tournamentDetail/' + ${tournament.id}">See more</a>
									</td>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>

</html>