<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Match result</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	 crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
	 crossorigin="anonymous"></script>

</head>

<body class="bg-dark text-white">
	<div class="row">
		<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

			<div class="btn-group mr-2" role="group" aria-label="First group">
				<a th:href="@{/admin/home}">
					<button type="button" class="btn btn-secondary btn-lg">Main
					</button>
				</a>
				<a th:href="@{/admin/ranking}">
					<button type="button" class="btn btn-secondary btn-lg">Hall of Fame
					</button>
				</a>
				<a th:href="@{/admin/matchResult}">
					<button type="button" class="btn btn-secondary btn-lg">Record Battle
					</button>
				</a>
				<a th:href="@{/admin/addTournament}">
					<button type="button" class="btn btn-secondary btn-lg">New Tournament
					</button>
				</a>
				<a th:href="@{/admin/allTournament}">
					<button type="button" class="btn btn-secondary btn-lg">Tournaments
					</button>
				</a>
				<form th:action="@{/logout}" method="get">
					<button class="btn btn-lg btn-warning float-xl-right" name="registration" type="Submit">Logout</button>
				</form>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<h3>Tournament info</h3>
			<table class="table" class="table table-striped">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Name</th>
						<th scope="col">Tournament Date</th>
					</tr>
					<tr th:each="tournament: ${tournament}">
						<td th:text="${tournament.id}"></td>
						<td th:text="${tournament.name}"></td>
						<td th:text="${tournament.tournamentDate}"></td>
					</tr>
				</thead>
			</table>
			<br>
			<br>
			<form id="tournamentEmail" th:action="@{/admin/tournamentDetail/attend/}" th:object="${tournamentEmail}" method="post" class="form-signin">

				<h3 class="form-signin-heading" style="margin-top: 40px"></h3>

				Provide participant e-mail to sign up for tournament:
				<br>
				<input type="text" th:field="*{email}" th:placeholder="email" class="form-control" />
				<br />
				<br>
				<div style="visibility: hidden" class="form-group">
					<input type="text" th:field="*{tournamentId}" th:placeholder="id" class="form-control" />
				</div>
				<br />


				<div align="center" th:if="${param.error}">
					<p style="font-size: 20; color: #FF1C19;">Email/s invalid, please verify</p>
				</div>

				<button class="btn btn-md btn-primary btn-block" name="Submit" value="Save" type="Submit" th:text="Save"></button>
				<br>
			</form>
		</div>
</body>

</html>