<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Admin Page</title>
	<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" /> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		body {
			background: rgb(34, 34, 34);
		}
	</style>
</head>

<body>
	<div class="container">
				<a th:href="@{/admin/ranking}">
					<button class="btn btn-lg btn-success btn-block">Hall of Fame
					</button>
				</a>
				<a th:href="@{/admin/matchResult}">
					<button class="btn btn-lg btn-success btn-block">Record battle
					</button>
				</a>
					<a th:href="@{/admin/addTournament}">
						<button class="btn btn-lg btn-success btn-block">New tournament
						</button>
					</a>
					<a th:href="@{/admin/allTournament}">
						<button class="btn btn-lg btn-success btn-block">See all tournaments
						</button>
					</a>
			<div class="text-right">
				<form th:action="@{/logout}" method="get" align="right">
					<button class="btn btn-lg btn-warning" name="registration" type="Submit">Logout</button>
				</form>
			</div>

		<div class="panel-group" style="margin-top: 40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
				<div class="panel-body">
					<h1>Welcome to the Underworld, to start please select one of the above.</h1>
				</div>
				<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
			</div>
		</div>
	</div>

</body>

</html>