<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Match result</title>
	<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" /> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
	<form th:action="@{/admin/home}" method="get">
		<button class="btn btn-md btn-warning btn-block">Go To Home Page</button>
	</form>

	<div class="container">
		<h1>Provide player e-mails</h1>
		<form id = "matchResult" th:action="@{/admin/matchResult}" th:object="${matchResult}" method="post" class="form-signin">
			<h3 class="form-signin-heading" th:text="Welcome"></h3>
			<br>
			Win:
			<br>
			<input type="text" th:field="*{emailWinner}" th:placeholder="Winner" class="form-control" /> <br>
			Defeat:
			<input type="text" th:field="*{emailDefeated}" th:placeholder="Defeated" class="form-control" /> <br />

			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Email/s invalid, please verify</p>
			</div>

			<button class="btn btn-md btn-primary btn-block" name="Submit" value="Save" type="Submit" th:text="Save"></button>
			<br>
			<a th:href="@{/admin/ranking}"><button class="btn btn-md btn-primary btn-block" >Go to hall of fame</button></a>
		</form>

	</div>
</body>

</html>
